/* A very basic CSS reset */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set up the body for full height and basic font styles */
html,
body {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
}
img{
    height: 100%;
    width: 100%;
    background-color: var(--secondary);
    color: var(--primary);
    object-fit: cover;
    border-radius: 10px;
}
:root{
    --primary:#d0afab;
    --secondary:#1b1b1b;
}
.hero{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.hero_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit;
}
.hero_media {
    position: absolute; 
    width: 200px;
    height: 300px;
    object-fit: cover;
    z-index: 999; 
    pointer-events: none;
    transition: transform 0.5s cubic-bezier(0.125, 0.61, 0.355, 1), opacity 0.5s;
    transform: scale(0); 
}


.hero_title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    user-select: none;
    pointer-events: none;
}
.hero_title h1{
    font-size: 16rem;
    text-align: center;
    font-weight: 500;
    gap: 2em;

}

.ofh{
    overflow: hidden;
}
@media (max-width:700px) {
    .hero_title h1{
        font-size: 9rem;
    }
}
